
body{
    padding-left: 250px;  
    max-height: 100vh; 
    background-color:#d1d1d146;
}
.main1{
    padding-left: 250px;   
   }

   .bg-red {
    background-color: red
}


.navbar{
  /* From https://css.glass */
 background: rgba(255, 255, 255, 0.41);
 border-radius: 0px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(12.3px);
 -webkit-backdrop-filter: blur(12.3px);
 border: 1px solid rgba(255, 255, 255, 0.81);
 }

.bx{
    
    width: 25px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color:aliceblue;
    cursor:pointer
    
}
.by{
  width: 200px;
  height: 200px;  
}

.gunfazla{
    background-color: cadetblue;
}
.guntam{
    background-color: forestgreen;
}
.gunyarim{
    background-color: gold;
}
.gunbos{
    background-color: crimson;
}

.scrl{
    overflow-y: scroll;
    height: 700px;
}

.cardy{
    /* -webkit-box-shadow: 20px 20px 22px #a8acad, -20px -20px 22px #ffffff; */
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(255, 255, 255, 1);
    -webkit-animation: fade-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
  
    }
  
  